<h1><%= @repo.name %> <small><%= @repo.language %></small></h1>

<p><%= link_to @repo.github_url, @repo.github_url %> </p>
<p>
  <%= @repo.description %>
</p>

<ul class="unstyled avatars_list">
  <%= render 'subscribers/avatars', subscribers: @subscribers, show_names: false %>
  <% if (difference = @repo.subscribers.count - @subscribers.count) && difference > 0  %>
    <li class='more'><%= link_to 'more' , repo_subscribers_path(full_name: @repo.full_name) %></li>
  <% end %>
</ul>

<p>
  <%= link_to repo_subscribers_path(full_name: @repo.full_name) do %>
    <%=  @repo.subscribers.count %> Subscribers
  <% end %>
</p>

<p>
  <% if user_signed_in? && current_user.able_to_edit_repo?(@repo) %>
    <%= link_to "Edit this repo", edit_repo_path(@repo), class: 'btn btn-mini' %>
  <% end -%>

  <% if @repo_sub %>
      <%= link_to repo_subscription_path(@repo_sub), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
        <i class="icon-remove icon-white"></i> Unsubscribe
      <% end %>
      <p>
        <%= link_to issue_assignments_path(:id => @repo_sub.id), :class => 'btn btn-success', :method => :post do %>
          <i class="icon-envelope icon-white"></i> Send more docs now!
        <% end %>
      </p>
  <% end -%>
</p>

<hr />

<h2>Read more `<%= @repo.name %>` Docs</h2>

<% if @repo_sub.blank? || @repo_sub.try(:read?).blank? %>
  <p>
    Want to get to know <%= @repo.name %> better? Sign up to receive one documented method or class in your inbox every day. It's an easy way to level up
  </p>
	<%= button_to "I Want to Read: #{@repo.username_repo}", repo_subscriptions_path(repo_subscription: {repo_id: @repo.id, read: true}), :class => 'btn btn-primary btn-success' %>
<% else %>
  You are subscribed to read docs
    <%= link_to repo_subscription_path(@repo_sub), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
    <i class="icon-remove icon-white"></i> Unsubscribe
  <% end %>
<% end %>

<hr />

<h2>Write more `<%= @repo.name %>` Docs</h2>

<% if @repo_sub.blank? || @repo_sub.try(:write?).blank?  %>
  <p>
    Are you ready to give forwards, back, or sideways to <%= @repo.name %>. Sign up to receive an undocumented method or class in your inbox. Do some research, then go document it! Commits++
  </p>
  <%= button_to "I Want to Write: #{@repo.username_repo}", repo_subscriptions_path(repo_subscription: {repo_id: @repo.id, write: true}), :class => 'btn btn-primary btn-success' %>
<% else %>
  You are subscribed to write docs
    <%= link_to repo_subscription_path(@repo_sub), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
    <i class="icon-remove icon-white"></i> Unsubscribe
  <% end %>
<% end %>

<hr />
<%= will_paginate @docs, :container => false %>

<ul>
  <% @docs.each do |doc| %>
    <li>
      <%= link_to doc.path, GithubUrlFromBasePathLine.new(doc.repo.github_url, doc.file, doc.line).to_github %>
      <%= "(undocumented)" if doc.doc_comments.blank? %>
    </li>
  <% end %>
</ul>
