<%= render 'layouts/head' %>
  <% unless user_signed_in? %>
    <!-- jumbotron -->
    <div class="jumbotron">
      <h1>This service is deprecated use Code Triage instead.</h1>
      <p class="lead">
        All functionality has been ported to <a href="https://www.codetriage.com">CodeTriage</a>. Your sign-up and settings will not be ported over, you'll need to manually re-sign up for projects on that site. I don't know how much longer this site will continue to work. If you want to keep getting emails, move over to Code Triage.
      </p>
    </div>
  <% end -%>

  <div class="jumbotron">
    <h2></h2>
    <p class="lead"><%= number_with_delimiter(User.count, delimiter: ',') %> developers and working on <%= Repo.count %> open source repos</p>
  </div>

  <!-- yield -->
  <div class="marketing">
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>
